ul {
    list-style-type: none;
  }

  .textShadow{
    text-shadow: 2px 2px 4px #000000;
}

  #journal-scroll::-webkit-scrollbar {
    border-radius: 25px;
    width: 10px;
    cursor: pointer;
}

#journal-scroll::-webkit-scrollbar-track {
    background-color: rgba(229, 231, 235, var(--bg-opacity));
    cursor: pointer;
}

#journal-scroll::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: #b5c3d5;
}

#input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
#input:focus { outline: none; }