/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap'); */
@font-face{
  font-family: Bungee Outline;
  src: url('./fonts/BungeeOutline-Regular.ttf');
} 
@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans+Condensed:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=IBM+Plex+Serif:ital@0;1&display=swap');
@font-face {
    font-family: Baloons;
    src: url("./fonts/BalonkuRegular-la1w.svg") format("svg");
}

@layer utilities {
  .animation-delay-75 {
    animation-delay: 75ms;
  }
  .animation-delay-500 {
    animation-delay: 500ms;
  }
  .animation-delay-750 {
    animation-delay: 750ms;
  }
  .animation-delay-1000 {
    animation-delay: 1s;
  }
  .font-plex-mono {
    font-family: 'IBM Plex Mono', monospace;
  }
  .font-plex-sans {
    font-family: 'IBM Plex Sans', sans-serif;
  }
  .font-plex-serif {
    font-family: 'IBM Plex Serif', serif;
  }
  .font-plex-condensed {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
  }
  .font-ballons {
    font-family: 'Baloons'
  }
  .font-sniglet {
    font-family: 'Sniglet', cursive;
  }
}

/* brand */
.brand {
    font-family: 'Bungee Outline', cursive;
    font-size: 12vh;
}

.brand-small {
    font-family: 'Bungee Outline', cursive;
    font-size: 4vh;
}

.game-button-p {
    font-family: 'Sniglet', cursive;
}
