/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

/* brand */
.brand {
    font-family: 'Bungee Outline', cursive;
    font-size: 16vh;
}

.game-button-p {
    font-family: 'Sniglet', cursive;
}